
    <section class="education-area"  style="line-height: 41px;">
        <div class="container">
            <div class="row my-3 text-center">
                <div class="h1 title-text">
                    Education Details
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="card-body cc-education-header">
                                <p>2016 - 2020</p>
                                <div class="h4">Bachelor's Degree</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="h1">Bachelor of Engineering</div>
                             <h2 class="category">Oriental College Of Technology
                             </h2>
                             <ul>
                              <li> Oriental College Of Technology is RGPV Affiliated and <b>ranks 7th</b> in Bhopal </li>
                                  <li>Completed B.E in Electronics & Communication with <b>7.28 CGPA</b>.</li>
                           </ul>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="card-body cc-education-header">
                                <p>2014 - 2016</p>
                                <div class="h4">Higher Secondary</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="h1">Higher Secondary</div>
                             <h2 class="category">Guru Gobind Singh Public School
                             </h2>
                             <ul>
                              <li> The High School was mainly focus on the bases of science, mathematics, and Chemistry </li>
                              <li> There was also a good base on physics, mathematics and chemistry.</li>
                              <li> Completed my high school with 63.33%. </li>
                           </ul>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="card-body cc-education-header">
                                <p>2014 - 2016</p>
                                <div class="h4">Secondary School</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="h1">Secondary School</div>
                             <h2 class="category">D.A.V Public School
                             </h2>
                             <ul>
                              <li> The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.</li>
                              <li> Completed my high school with 68.4%. </li>
                           </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>