<!-- <div class="fixed-header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="bi bi-journal-code"></i>Prem's portfolio</a>
            <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
          
            <div class="collapse navbar-collapse justify-content-end" 
            id="navbarSupportedContent" 
            [ngClass]="{'collapse' : collapsed, 'navbar-collapse':true}">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  class="nav-link" routerLink="home">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" routerLink="about">
                            About
                        </a> 
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" routerLink="education">
                            Education
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" routerLink="skills">
                            Skills
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div> -->



<header class="header-fixed">

	<div class="header-limiter">

        <h1><a href="#"><i class="bi bi-journal-code"></i>Prem's<span> portfolio</span></a></h1>

		<nav>
            <a routerLink="home">
                Home
            </a>
            <a routerLink="skills">
                Skills
            </a>
            <a routerLink="education">
                Education
            </a>
            <a routerLink="about">
                About
            </a> 
		</nav>

	</div>

</header>