<!--Navbar-->
<mdb-navbar class="custom-color" SideClass="navbar navbar-expand-lg navbar-dark " mdbStickyHeader [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a routerLink="home" class="navbar-brand" href="#"><span><i class="fas fa-code"></i>Prem's</span> Portfolio</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" routerLink="home" mdbWavesEffect><i class="fas fa-archway"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light"  routerLink="about" mdbWavesEffect><i class="fas fa-user-alt"></i> About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="experience" mdbWavesEffect><i class="fab fa-accessible-icon"></i> Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="skills" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Skills</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link waves-light" routerLink="skills" mdbWavesEffect><i class="fab fa-accusoft"></i>Projects </a>
          </li> -->
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->