<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="text-center" style="margin-top: 5rem;">
        <div class="h1 title-text" style="text-decoration: underline;">
          <i class="bi bi-gear-wide-connected"></i>Skills<i class="bi bi-gear-wide-connected"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/reactLogo.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">React</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88.98%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">88.98%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li> I have 1+ year of experience working with react</li>
              <li> Experience is creating U.I screens using react</li>
              <li> I have experience creating projects from scratch </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/angular.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">Angular</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88.98%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">88.98%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li> I have 8 month of experience</li>
              <li> Worked on angular material, amcharts</li>
              <li> I have experience creating projects from scratch </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/javascript.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">Javascript</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">70%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li>I learned Js before learning Angular.</li>
              <li>Used different JS function in website</li>
              <li>JavaScript is the core of ANgular</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/bootstrap.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">Bootstrap</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88.98%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">88.98%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li>Used differnt inbuilt bootstrap component</li>
              <li>I used this in angular to make structures of any page</li>
              <li>It is very useful to make any page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/html5.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">Html5</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width:75%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li>Skleton of any website</li>
              <li>It is very important to use html efficiently</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/figma.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">Figma</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88.98%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">88.98%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li>It is very useful to create design of any website</li>
              <li>Helps to create responsive design</li>
              <li>It is very useful to enchance any design according to user</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/git.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">Git</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li>It is very helpfull in storing and managing different projects at 1 place</li>
              <li>We can deploy any project using git</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="flip-card shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/background-images/visual-studio-code.png" alt="Avatar" style="width:171px;height:158px;">
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase font-roboto">V.S code</h5>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88.98%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">88.98%</div>
              </div>
            </div>
          </div>

          <div class="flip-card-back">
            <ul>
              <li>It is a user friendl editor</li>
              <li>Decreases coding timing by giving suggestions in advance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>