<div class="container experience-area">
    <div class="row">
        <div class="col-lg-12 text-center experience-title">
            <i style="font-size: 18px;" class="bi bi-pc-display-horizontal"></i>
            <h1 class="text-uppercase title-text mb-4 mt-2"><i class="bi bi-align-end"></i>Working Experience<i
                    class="bi bi-align-start"></i></h1>
            <div class="row justify-content-center">
                <div class="card ">
                    <div class="card-body">
                        <h1 class="card-title">UstGlobal <span class="duration"> - June 2021 to June 2022,
                                Bengaluru</span></h1>
                        <h2>Developer-I Software Engineering</h2>
                        <ul class="mt-3">
                            <li>Working as a UI Designer & Developer for <b>Intel</b> </li>
                            <li>Created some projects from Scratch</li>
                            <li>Worked on Amcharts, Bootstrap angular material. </li>
                            <li>Created sections like templates for landing pages, tables etc.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div class="card ">
                    <div class="card-body">
                        <h1 class="card-title">Infosys <span class="duration"> - June 2022 to Present,
                                Bengaluru</span></h1>
                        <h2>System Engineer</h2>
                        <ul class="mt-3">
                            <li>Working as a UI Designer & Developer for <b>Infosys Internal</b> </li>
                            <li>Working with React library</li>
                            <li>Worked on Amcharts, Bootstrap angular material. </li>
                            <li>Created sections like templates for landing pages, tables etc.</li>
                            <li>Having experience using Tailwind CSS</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>