<div class="container ">
    <div class="row intro-area mt-5">
        <div class="col-lg-6 col-md-6 site-title mt-5">
            <h3 class="title-text">Hey</h3>
            <h1 class="title-text text-uppercase">I am Prem</h1>
            <h4 class="title-text text-uppercase"><span class="change-text"></span></h4>
            <div class="site-buttons mt-5">
                <div class="d-flex flex-row flex-wrap">
                   <a target="_blank" href="https://drive.google.com/file/d/1tLDDlhBFT7WnMnrHZIgzeg7GN_PAlufo/view?usp=sharing" class="btn11">
                    <span>Download Cv</span>
                 <div class="transition"></div>
               </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <img src="assets/introduction.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>